
* {
  margin: 0%;
  padding: 0%;
}

body{
  /* background:#121447; */
} 

.menu{
  background: #121447;
  border: 1 solid;
}

.text{
  font-size: 50px;
}

.margin-bn{
  margin-bottom: -30px;
}

.linha-vertical {
  color: white;
  height: 280px;/*Altura da linha*/
  border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  margin-left: -100px;
}

.linha-horizontal{
  color: white;
  height: 10px;
  width: 220px;
  border-top: 1px solid;
  margin-top: 30px;
}